* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img3252.avif);
}

.header_text {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
    background-color: #332E2A;
    padding-bottom: 10px;
}

.about_text {
    color: blanchedalmond;
    font-family: "gt-walsheim-regular";
    font-size: 20px;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}