* {
    margin: 0;
    padding: 0;
}

.header_text {
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blanchedalmond;
    background-color: #332E2A;
    padding-bottom: 10px;
}